<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

  <connectionStrings>
    <add name="MyDbConn"
         connectionString="Server=stusql.ckwia8qkgyyj.us-east-1.rds.amazonaws.com; Database=CIS260-Timeclock; User Id=cis260Timeclock; password=cis260*SP18"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
